

@font-face {
    font-family: 'PixelGameFont';
    src: url('assets/font/PixelGameFont.ttf') format('truetype');
  }
  
  body {
    font-family: 'PixelGameFont', sans-serif;
    background-color: black;
    background-image:
        radial-gradient(rgb(255, 255, 255) 1px, transparent 1px),
        radial-gradient(white 1px, transparent 1px);
    background-size: 200px 200px;
    background-position: 0 0, 2px 2px;
    animation: moveStars 25s linear infinite;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  @keyframes moveStars {
    0% { background-position: 0 0, 25px 25px; }
    25% { background-position: 0 50px, 25px 75px; }
    35% { background-position: 0 100px, 25px 125px; }
    65% { background-position: 0 150px, 25px 175px; }
    100% { background-position: 0 200px, 25px 225px; }
  }
  
  .title {
    margin-top: 20px;
  }
  
  h1 {
    font-size: 50px;
    animation: rainbow 5s infinite;
  }
  
  @keyframes rainbow {
    0% { color: rgb(255, 0, 0); }
    20% { color: orange; }
    40% { color: yellow; }
    60% { color: green; }
    80% { color: blue; }
    100% { color: violet; }
  }
  
  #score {
    display: inline-block;
    font-size: 20px;
    margin: 20px 0;
  }
  
  .back {
    margin-top: 20px;
  }
  
  canvas {
    display: block;
    margin: auto;
    background-color: #0e0e0e;
    border: 2px solid white;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    border-radius: 5%;
  }
  #game-over-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 320px;
    height: 640px;
    margin-top: -320px; /* metade da altura */
    margin-left: -160px; /* metade da largura */
    background: rgba(0, 0, 0, 0.9);
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 0 0 20px white;
    color: rgb(116, 19, 19);
    font-family: 'PixelGameFont', sans-serif;
    font-size: 72px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    visibility: hidden;  /* começa escondido */
    z-index: 100;
  }
  
  #game-over-screen button {
    margin-top: 30px;
    padding: 12px 30px;
    font-family: 'PixelGameFont', sans-serif;
    font-size: 24px;
    background: red;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 0 10px red;
    transition: background-color 0.3s ease;
  }
  
  #game-over-screen button:hover {
    background-color: darkred;
    box-shadow: 0 0 20px darkred;
  }